/*Import fonts*/

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

@font-face {
    font-family: Nohemi;
    src: url(/fonts/Nohemi-Regular.woff2) format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: Nohemi;
    src: url(/fonts/Nohemi-Bold.woff2);
    font-weight: bold;
}

/*Do css reset*/
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Times New Roman', Times, serif;
    /* background-color: #0f0f0f; */
    color: #fff;
    overflow-x: hidden;
    background-image: url("/assets/websiteBG-black.webp");
    background-color: #0F0F0F;
  background-repeat:repeat-y;
  background-size: contain ;
  width: 100vw;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
  
  }
  

section{
    min-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    width:100vw ;
  
}


/* new design */
/* Navbar styles */
nav{
    
    font:300 1rem Poppins;
    position:fixed;
    right: 2.5vw;
    top: 5rem;
    z-index: 10;
    width: 10vw;
   
}
nav ul{
    list-style-position: outside;
    text-align: center;
    line-height: 2rem;
    list-style-type:none;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.active-nav{
    font-weight: 700;
}

.open-menu ,.close-menu{
    position: absolute;
    top: -2.5rem;
    right: 3vw;
    display: none;
}
#menu-check{
    display: none;
}

.menu-handle{
    width: 1.2em;
}
.menu{
    display: block;
}
/*Hamburger responsive code */
@media(max-width:780px){

    .menu{
        position: absolute;
        right: 40vw;
        top:25vh;
        display: none;
        
    }
    .open-menu{
        display: block;
    }

}

/* Utility styles */

.sliding-button {
    display: inline-flex;
    border-radius: 0.3em;
    border: 0.05rem solid black;
    padding: 0.4em 1.2em;
    align-items: center;
    justify-content: center;
    color:white;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #DFFD52 50%, #000000 50%);
    transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sliding-button:hover {
    color:#0251D3;
    background-position: -100% 0;
    border-color: #DFFD52;
}

.blur-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    filter: blur(10px); /* Adjust the blur strength as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    backdrop-filter: blur(10px);
    z-index: 5;
    display:none;
    opacity: 0;
    transition:  opacity 0.1s ease-in-out;
  }

/* Utility styles */

/* .sliding-button {
    display: inline-flex;
    border-radius: 0.3em;
    border: 0.1rem solid black;
    padding: 0.6em 1.2em;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #ffffff 50%, #000000 50%);
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
} */

/* .sliding-button:hover {
    color: #000;
    background-position: -100% 0;
} */


.social-icon{
    filter: white;
    transition: transform 0.3s ease;
}

.social-container .social-icon:hover{
transform: scale(1.2);
filter:   sepia(100%) saturate(3798%) hue-rotate(359deg) brightness(105%) contrast(104%);
}


/* Landing section styles */



.cover{
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;

}

.banner{
    position:absolute;
    /* width: 85vw; */
    height: 100vh;
    top:0;
}
.photo-post{
    position: relative;
    /* background-color: rebeccapurple; */
    background-image: url(/assets/my_photo.png);
    background-repeat:no-repeat;
    background-size: contain;
    width: 25vw;
    height:45vh; 
    top: 12vh;
    left: 41vw;
}
.comment{
    position: absolute;
    height: 12.5vh;
    top:36.6vh;
    left:10vw;
}








/* Bouncing resume style */
.bouncy-tag{
    position: absolute;
    float: right;
    animation: bounce 2s linear infinite;
    width: 20vw;
    top:70vh;
    right: 0vw;   
}
@keyframes bounce{
    0%{ 
        transform: translateY(0rem);
    }25%{
        transform:translateY(-0.5rem);
    }50%{
        transform:translateY(0rem);
    }75%{
        transform:translateY(0.5rem);
    }100%{
        transform:translateY(0rem);
    }
}


/*sectags*/

.sectags{
    position: absolute;
    height: 100vh;
    
    

}
.imageC{
    color: red;
}

/* image captions */





/* Journey styles */

.journey-table{
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding-top: 4rem;
}

.journey-title-desc{
    padding-left: 0.5em;
    font:700 1rem Poppins;
    /*border: 1px solid red;*/
}

.journey-logo{
align-self: center;
padding-top: 0.3em;
height: 1.7em;
/*border: 1px solid red;*/
padding-left: 0.25em;

}

.line{
    /*border: 1px solid red;*/
   border-right:1px #ffffff solid; 
   width: 1em;
   
   

  
}
.journey-desc{
    padding-left: 1em;
    width: 20em;
    font: 300 0.8rem Poppins;
    /*border: 1px solid red;*/
    padding-bottom: 4rem;
    
}

/* work-styles  */



/* humburg menu */

.hamburg{
    display: block;
    width: 25px;
    
}


/* Art section styles */

.carousals{
    /* background-color: beige; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    /* padding-left:12vw;
    padding-right: 12vw; */
    gap: 2vw;
    /* overflow-x: hidden; */
    overflow-y: hidden;
}
.carousal-container{
    position: relative;
    /* background-color: rebeccapurple; */
    display: flex;
    height: 100vh;
    width: 15vw;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
    overflow-x: visible;
}
.fade{
    position: absolute;
    height: 20vh;
    width:100vw;
    z-index: 2;
    background:linear-gradient(to bottom, #000a08bd,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
    /* display: none; */


}
.fade-reverse{
    position: absolute;
    height: 20vh;
    width:100vw;
    z-index: 2;
    background:linear-gradient(to top, #1b1b1b93,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
    /* display: none; */
    top:80vh;
}
.marquee{
    height: 100vh;
    /* background-color: red; */
    width: 15vw;
    animation: marqueeAnimation 12.5s linear infinite;
    animation-delay: 1s;
    
}


.marquee .imgcontainer{
    /* background-color:rebeccapurple; */
    width: 15vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.imgcontainer img{
    width: 15vw;
    border: 5px solid #D8D9D3;
    border-bottom: 50px solid #D8D9D3;
}

.imgcontainer img:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
    
}
.carousal-container:hover .marquee{
    animation-play-state: paused;
}


@keyframes marqueeAnimation {
    from {
      transform: translateY(50vh);
    }
    to {
      transform: translateY(-50vh);
    }
  }

@media(max-width:780px) {
    .carousals{
        display: none;
    }
}

/* get in touch styles */
#talk{
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.talktag{
    position: absolute;
    height: 30vh;
    left: 0;
    bottom: -5vh;
    display: none;
}
.talk-social-container{
    font: 300 0.9rem Poppins;
    /* background-color: limegreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.talk-social-container li{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.talk-social-container li a{
    text-decoration: none;
    color: whitesmoke;
}
/* footer styles */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;  
  text-align: center;
}
.footnote{
    font: 300 0.8rem Poppins;
    

}
  .shoutout{
    color: #fff;
    display: inline-block;
    background-color: #2c2c2c;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    text-decoration: none;

}





/* hero section -ND*/

.wrappertop{  
    height: 467px;
    position: absolute;
    transform: rotate(-35deg);
    top: -15vh;
    left: -20vh;
    /* display: none; */
}

.herocont{
    display: flex;
    flex-direction: column;
    padding-left: 33vw;
    gap: 15px;
}


.social-container{
    top: 70vh;
    left: 15vw;
    display: flex;
    flex-direction: row;
    gap:1.0rem;
}
.name{
 font-weight: lighter;
}
.oneliner{
    display: flex;
    font-size: 70px;
    font-family: 'Nohemi';
    flex-direction: column;
    width: 100%;
    border-color: pink;
    border-radius: 10;
    font-weight: bold;
}
.name{
    font-size:25px;
    padding-bottom:10px ;
}
.blue{
    color: #0251D3;
    display: inline-block;
}
.yellow{
    color: #DFFD52;
}
#product{
    color: #0251D3;
    display: inline-block;
    padding-right: 0.2em;
}
#ninja{
    display: block;
    
}
@media(max-width:780px){
    #product{
        display: block;
        padding-right: .0.2em;
    }
    #ninja{
        display: inline-block;
    }
    .herocont{
        padding:0;
        margin: 0;
        width: 100%;
        padding-left: 4vw;
        padding-top:5vh;
    }
    .oneliner{
        display: flex;
        font-size: 60px;
        font-family: 'Nohemi';
        flex-direction: column;
        width: 100%;
        border-color: pink;
        border-radius: 10;
        font-weight:500;
       
    }
    .name{
        font-size:25px;
        padding-bottom:10px ;
    }
    .wrappertop{  
        height: 220px;
        position: absolute;
        transform: rotate(-35deg);
        top: -7vh;
        left: -25vw;
        /* display: none; */
    }
    .social-container{
        top: 70vh;
        left: 0;
        display: flex;
        flex-direction: row;
        gap:1.0rem;
        width: 60vw;
    }
    .bouncy-tag{
        position: absolute;
        float: right;
        animation: bounce 2s linear infinite;
        width: 60vw;
        top:75vh;
        right: 2vw;   
    }
    @keyframes bounce{
        0%{ 
            transform: translateY(0rem);
        }25%{
            transform:translateY(-0.5rem);
        }50%{
            transform:translateY(0rem);
        }75%{
            transform:translateY(0.5rem);
        }100%{
            transform:translateY(0rem);
        }
    }
}

/* work section */

.worksay{
    top: 0;
    position: absolute;
}

.wline{
    position: absolute;
    font-family: 'Nohemi';
    font-size: 34px;
    width: 350px;
    top: 12vh;
    left: 12vh;
}




.work-container{
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2vw;
    column-gap: 2.5vw;
    margin-left: 24vw;
    
   
}

.work-title{

    font: 700 1em Poppins;
    margin-bottom: 1.2em;
}
.work-description{
    font:300 0.8em Poppins;
    text-align:left;
    width: 15vw;
}


.work-img{
width: 15vw;
margin-bottom: 1em;
}


.swiper-wrapper{
    display: flex;

    gap: 2.5vw;

}

@media(max-width:780px){
    .swiper-wrapper{
        display: block;
        margin-left: 10vw;
        margin-top:25vw;
    }
    .wline{
        position: absolute;
        font-family: 'Nohemi';
        font-size: 32px;
        width: 350px;
        top: 12vh;
        left: 6vh;
    }
     
   .work-img{
    width: 50vw;
   }
   .work-description{
    width: 50vw;
   }
}

.clickhere{
    font-family: poppins;
    color:#0251D3 ;
}


/* journey */

.jsay{
    position: absolute;
    bottom: 10vh;
    right: 0;
}

.jline{
    position: absolute;
    font-size: 34px;
    font-family: 'Nohemi';
    width: 480px;
    bottom: 18vh;
    right: 0;
}

@media(max-width:780px){
   
    .jline{
        position: absolute;
        font-size: 32px;
        font-family: 'Nohemi';
        width: 300px;
        bottom: 1vh;
        right: 10vw;
    }  
    .jsay{
        position: absolute;
        bottom: 0vh;
        right: 2vw;
    }
    .journey-table{
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        padding-top: 0;
        width: 60vw;
        font-size: xx-small;
        height: 2vh;
    }
    .journey-desc{
        padding-bottom: 0.5em;
    }
    .journey-title-desc{
        padding-left: 0.5em;
        font:900 1rem Poppins;
        /*border: 1px solid red;*/
        height: 1vh;
    }
    
    .journey-logo{
    align-self: center;
    padding-top: 0.3em;
    height: 1.7em;
    /*border: 1px solid red;*/
    padding-left: 0.25em;
    
    }
    #journey{
        align-items: flex-start;
    }

}


/* art ND */

.asay{

top: 0;
    position: absolute;
}
.aline{
    position: absolute;
    font-family: 'Nohemi';
    font-size: 34px;
    width: 350px;
    top: 12vh;
    left: 10vh;
}

@media(max-width:780px){
    .aline{
        position: absolute;
        font-family: 'Nohemi';
        font-size: 32px;
        width: 350px;
        top: 14vh;
        left: 6vh;
    }
    .asay{

        top: 0;
            position: absolute;
        }
   
}


/* me ND*/
#me{
    display: flex;
    flex-direction: row;
    gap: 10VW;
    padding-left: 25vw;
}
.summary{
    gap: 15PX;
    display: flex;
    flex-direction: column;
    align-items: normal;
    font-family: 'Nohemi';
    font-size: 30px;
    width: 390px;
}
.sumhead{
    font-size: 40px;
}
.say-hello{
    background-color: #000;
    /* color: #fff; */
    font-family: Nohemi;
    font-size:0.7git em;
    font-weight:100;
    padding:0.45em 1.3em;
    margin-top: 2em;
    border-radius: 5px;
    border: 1px solid white;
    /* transition: background-color,color 0.3s ease-in-out; */
}
/* .say-hello:hover{
    background-color: #414141;
    color: rgb(0, 0, 0);
} */

.hispic{
    height: 50vh;
}
.sum{
    font-size: 25px;
}
@media(max-width:780px){
    #me{
        flex-direction: column-reverse;
        gap: 5VW;
        padding: 0;
        top: 0;
        padding: 15vw;
    }
    .hispic{
        width: 65vw;
    }
    .sumhead{
        font-size: larger;
    }

    .summary{
        font-size: 20px;
        width: fit-content;
    }
   
}

.swiper-article{
    display: none;
}
@media(max-width:780px){
    .swiper-article
    {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding-top: 10vh;
    }

    .swiper {
        display: flex;
      width: 70vw;
      height: auto;
      align-items: center;
      justify-content: center;
    }
    
    .swiper-slide {
        /* width: 20vw; */
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .mobile-art-img{
        width: 50vw;
        border: 5px solid #D8D9D3;
        border-bottom: 50px solid #D8D9D3;
    }
    
}
